<div class="wide" ng-controller="PageScrollCtrl">
  <div class= "container">
      <div class="row">
             <div class="title">
                  <h1 class = "header">BEST SITE FOR SHARING BOOKS </h1>
                  <hr class="text-center" width="10%" >
               </div>
               <div class="text-center">
                  <p class="header-inner">Swap Books Web App can help you trade books with anyone
                   Just SIGN UP and start swaping, no string attached </p>
                     <button type="button" class="btn btn-danger" ng-click="gotoMiddle()">FIND OUT MORE</button>
                     </div>
           </div>
      </div>
</div>
<div class="section" id="second">
  <div class="container">
    <div class="row">
      <div class="text-center">
         <h2> SIMPLE WAY TO TRADE YOUR BOOKS </h2>
         <hr width = "10%">
         <p class="header-inner">Book Swap has everything that you need to get you started and get the book that you wanted by trading your book. All the books on Book Swap website are added by people like you for FREE. It is based on trust. No String Attached!</p>
         <a href="#/login" role="button" class="btn btn-danger" id="btn">Get Started</a>
        </div>
      </div>
    </div>
 </div>
 <div class="section1">
   <div class="container">
     <div class="row title1">
       <div class="text-center">
            <h2>AT YOUR SERVICE</h2>
            <hr width ="10%" class="title">
         </div>
       </div>
     </div>
     <div class="container">
       <div class="row">
         <div class="col-lg-3 col-md-6 text-center">
           <div class="service-box">
           <i class="fa fa-3x fa-diamond foo" aria-hidden="true"></i>
           </div>
         </div>
         <div class="col-lg-3 col-md-6 text-center">
             <div class="service-box">
           <i class="fa fa-3x fa-paper-plane" aria-hidden="true"></i>
           </div>
         </div>
         <div class="col-lg-3 col-md-6 text-center">
           <div class="service-box">
           <i class="fa fa-3x fa-newspaper-o" aria-hidden="true"></i>
           </div>
         </div>
         <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
             <i class="fa fa-3x fa-heart" aria-hidden="true"></i>
             </div>
           </div>
         </div>
       </div>
   </div>
  <div class="container-fluid">
    <div class="row no-spacing"> 
      <div class="col-lg-4 col-sm-6 no-padding">
        <img src="../image/books.jpg" class="img-responsive booksimg">
      </div>
      <div class="col-lg-4 col-sm-6 no-padding">
        <img src="../image/rich.jpeg" class="img-responsive booksimg">
      </div>
      <div class="col-lg-4 col-sm-6 no-padding">
        <img src="../image/book.jpg" class="img-responsive booksimg">
        </div>
          <div class="col-lg-4 col-sm-6 no-padding">
        <img src="../image/books.jpg" class="img-responsive booksimg">
      </div>
      <div class="col-lg-4 col-sm-6 no-padding">
        <img src="../image/rich.jpeg" class="img-responsive booksimg">
      </div>
      <div class="col-lg-4 col-sm-6 no-padding">
        <img src="../image/book.jpg" class="img-responsive booksimg">
        </div>
        </div>
    </div>


<div class="container-fluid text-center section3">
      <div class="sign-up">
        <h1> Free to start swaping your books! </h1>
        </div>
       <a href="#/login" role="button" class="btn btn-warning btn-lg" id="btn">SIGN UP</a>
  </div>
  <div class="container-fluid contact">
    <div class = "row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
           <h2>Let's get in touch - Say HI</h2>
           <hr align="center" width="10%" >
           <p> "Do you like my project? That's great! Ping me an email or say hi on twitter. I'll get back to you as soon as possible!'"</p>
        </div>
        <div class="col-lg-4 col-lg-offset-2 text-center call">
            <i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
          </div>
          <div class="col-lg-4 text-center call">
             <i class="fa fa-twitter fa-5x" aria-hidden="true"></i>
            </div>
      </div>
    </div>
     
    
        
    