<div class="wide">
  <div class= "container">
      <div class="row">
             <div class="col-md-offset-2 col-md-12 title">
                  <h1 class = "front">BEST SITE FOR SHARING BOOKS </h1>
               </div>
          
               <div class="col-md-offset-1 title">
                   <hr align="center" width="10%" >
                 </div>
                  <p class="intro1">Swap Books Web App can help you trade books with anyone</p>
                   <p class="intro">Just SIGN UP and start swaping, no string attached </div>
                <div class="col-md-offset-6">
                     <button type="button" class="btn btn-danger">FIND OUT MORE</button>
                  </div>
           </div>
      </div>
</div>
<div class="section2">

  </div>
  
