<div class="container mainpage">
    <div class="row">
        <div class="col-xs-12 col-sm-push-2 col-sm-6">
           <button type="button" class="btn btn-warning" ng-click="myRequest()">My Request  ({{counts}}) </button>
        </div>
          <div class="col-xs-12 col-sm-6">
           <button type="button" class="btn btn-primary" ng-click="unapprovedRequest()">Trading Request for Me  ({{requestme}})</button>
            <button type="button" class="btn btn-success" ng-click="addbook = !addbook">Add Book</button>
        </div>
        </div>
 </div>
<br>
  
    
<div class="container" ng-show="addbook">
    <div class="row">
       <div class="col-md-4 col-sm-push-4">
           <h1>Add Your Book</h1>
        <form>
        <div class="form-group">
            <label for="name">Title</label>
             <input type="text" ng-model="book.name" class="form-control" placeholder="title of Book">
        </div>
       <div class="form-group">
            <label for="name">Catgory</label>
             <input type="text" ng-model="book.description" class="form-control" placeholder="Description">
        </div>
       <div class="form-group">
            <label for="author">Author</label>
             <input type="text" ng-model="book.author" class="form-controle" placeholder="Author">
        </div>
          <div class="form-group">
            <label for="image">Image</label>
             <input type="text" ng-model="book.image" class="form-controle" placeholder="image">
        </div>
            <a href="#books"> <button type="button" class="btn btn-primary" ng-click="addBook(book)">Add Book</button></a>
        
           </form>
        </div>
    </div>
</div>

<div class="container" ng-show="!trade && ismyrequest" >
    <div class="row">
        <div class="col-xs-12 col-sm-4" ng-repeat="book in myBooks track by $index">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img ng-src="{{book.image}}" class="img-responsive center-block"> 
                    <br>
                    <h3>Title: {{book.name}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container" ng-show="trade">
    <div class="row">
        <div class="col-xs-12 col-sm-4" ng-repeat="rbook in requestbook track by $index" ng-show="!rbook.isDecline">
            <div class="panel panel-default">
                <div class="panel-heading">Title: {{rbook.name}}</div>
                <div class="panel-body">
                    <img ng-src="{{rbook.image}}">
                    <p>Description of the book:{{rbook.description}}</p>
                    <p>Requested: {{rbook.requestedBy}}</p>
                    <p>Author: {{rbook.author}}</p>
                    <p>Owner of the Book: {{rbook.owner}}</p>
                </div>
                <button type="button" class="btn btn-default btn-sm" ng-click="acceptRequest(rbook)">
                    <span class="glyphicon glyphicon-ok"></span> Accept
                </button>
                <button type="button" class="btn btn-default btn-sm" ng-click="declineRequest(rbook, $index)" >
                    <span class="glyphicon glyphicon-remove"></span> Decline
                </button>
                <span>
                </span>
                <br>
            </div>
        </div>
    </div>
</div>
 <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4" ng-repeat="myrequestBook in myrequest track by $index">
            <div class="panel panel-default" >
                <div class="panel-heading">Title: {{myrequestBook.name}}</div>
                <div class="panel-body">
                    <img ng-src="{{myrequestBook.image}}"> 
                    <p>Description of the book:{{myrequestBook.description}}</p>
                    <p>Requested: {{myrequestBook.requestedBy}}</p>
                    <p>Author: {{myrequestBook.author}}</p>
                    <p>Owner of the Book: {{myrequestBook.owner}}</p>
                </div>
                <span>
                </span>
                <br>
            </div>
        </div>
    </div>
</div>



