

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="panel panel-default" ng-repeat="book in books">
                <div class="panel-heading">Title: {{book.name}}</div>
                <div class="panel-body">
                    <img ng-src="{{book.image}}"> 
                    <p>Description of the book:{{book.description}}</p>
                    <p>Requested: {{book.requestedBy}}</p>
                    <p>Author: {{book.author}}</p>
                    <p>Owner of the Book: {{book.owner.username}}</p>

                </div>

            </div>
        </div>
    </div>
</div>