<!--
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-push-2 col-sm-6">
         <button type="button" class="btn btn-warning" >My Request  ( {{ add}}) </button>
        </div>
        <div class="col-xs-12 col-sm-6">
            <a href="#request"> <button type="button" class="btn btn-primary">Trading Request for Me  (0 Trade)</button></a>
           </div>
    </div>
</div>
-->
 
<div class="container mainpage">
    <div class="row" >
        <div class="col-md-4" ng-repeat="book in books track by $index">
            <div class="panel panel-default">
                <!--<div class="panel-heading">Title: {{book.name}}</div>-->
                <div class="panel-body">
                    <img ng-src="{{book.image}}" class="img-responsive center-block"s>
                 <br>   
                <br>
               <p class="bookname"> {{book.name}}</p>
                <br>
                 <button type="button" class="btn btn-info" ng-click="requestTrade(book,$index)">Trade</button>
            </div>
            </div>
                    <p>Owner of the Book: {{book.owner.username}}</p>
                </div>
                <span>
                </span>
</div>
